<?xml version="1.0" ?>
<model>
  <name>spherical_object</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Tuo Nome</name>
    <email>tuo.email@example.com</email>
  </author>
  <description>
    Modello di un oggetto sferico blu di raggio 15 cm per Gazebo.
  </description>
</model>

